* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem;
    flex-wrap: wrap;
    width: 100%; 
    /* margin: 4rem; */
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap; 
}

.hero-container::after,
.hero-container::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 50%;
    /* background: #7c66e3; */
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {
    top: -5%;
    left: -10%;
}

.hero-container::before {
    bottom: 5%;
    right: -5%;
}

.hero-content {
    max-width: 48%; 
    padding: 1rem;
    text-align: 1;
    
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero-content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.mu {
    margin-top: 3rem;
}

.hero-content h1,
.hero-content h3 {
    text-shadow: 5px 4px 10px #6852ba;
}

.hero-content h3 span {
    color: #a993fe;
}

.hero-content p {
    font-size: 1rem;
    /* animation: slideLeft 1s ease forwards; */
    /* animation-delay: 1.3s; */
    line-height: 1.5; 
}

.img {
    margin: 1rem;
    padding: 1.5rem;
    max-width: 45%; 
    height: auto;
    flex: 1;
}

.img img {
    width: 100%; 
    height: auto;
}

.img:hover {
    transform: translateY(-0.5rem);
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        padding: 1rem; 
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem; 
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content h3 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    .img {
        max-width: 80%;
        margin-top: 1rem;
    }
}
